/* Font Family */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */
html {
  font-size: 16px;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.padding {
  padding: 80px 0;
}
.heading {
  font-size: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: #122f4d;
  margin-bottom: 24px;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.btn {
  box-shadow: none;
  outline: 0;
  padding: 12px 32px;
  color: #000;
  border: 1px solid #000;
  font-size: 18px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 48px;
  text-transform: capitalize;
}
.btn-primary {
  background: #4da07f;
  border-color: #4da07f;
  color: #ffffff;
}

/* Header */
.header {
  background: #2b3c4d;
  padding: 16px 0;
}
.logo img {
  width: 9rem;
}
.nav-menu__item {
  margin-left: 32px;
}
.nav-sub-menu {
  position: relative;
}
.nav-menu__item a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.sub-menu {
  background: #ffffff;
  padding: 12px 24px;
  text-align: center;
  border-radius: 4px;
}
.sub-menu a {
  color: #4da07f;
  line-height: 2;
}
.sub-menu-box {
  display: none;
  position: absolute;
  left: 50%;
  padding-top: 40px;
  top: 0;
  transform: translateX(-50%);
}
.nav-sub-menu:hover .sub-menu-box {
  display: inline-block;
}

#toggle,
.hamburger {
  display: none;
}

/* Hero */
.hero {
  padding: 100px 0;
  background: linear-gradient(#27434c, #4da07f);
  color: #ffffff;
}
.hero-heading {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
}
.hero-sub-heading {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 16px;
}

/* Portfolio */
.col {
  flex-basis: 30%;
  padding: 32px 0;
  text-align: center;
  font-size: 0;
  margin: 16px 0;
}
.col1 {
  background: #ba4c63;
}
.col2 {
  background: #49a4b6;
}
.col3 {
  background: #120e0e;
}
.col4 {
  background: #2f83c1;
}
.col5 {
  background: #0e37b5;
}
.col6 {
  background: #ccb1a3;
}
.portfolio img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

/* About */
.about {
  background: linear-gradient(#27434c, #4da07f);
}
.about-wrapper {
  max-width: 768px;
  margin: 0 auto;
}
.about .heading {
  color: #ffffff;
}
.about-text {
  width: 46%;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Contact */
.contact-form {
  max-width: 700px;
  margin: 0 auto;
}
.form-control {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #696969;
  margin-bottom: 16px;
  padding: 12px;
  font-size: 1.4rem;
  color: #9fcbfa;
}
.form-control::placeholder {
  color: #49535e;
}

.map {
  background: #bdc7d2;
}

/* Table */
.table {
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: 500;
}
th {
  color: #1f66b3;
}

tbody tr:nth-child(odd) {
  background: #313c50;
}
tbody tr:nth-child(even) {
  background: #2b3346;
}
thead tr {
  background: #1e2639;
}
td:first-child {
  color: rgb(246, 41, 76);
}

/* Footer */
.footer {
  background: #2b3c4d;
  color: #ffffff;
}
.footer .flex {
  align-items: flex-start;
}
.col-1-3 {
  flex-basis: 30%;
}
.footer h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 24px;
}
.social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 8px;
  color: #ffffff;
  line-height: 32px;
}
.footer-link {
  color: #4da07f;
}
.copyright {
  background: #19242e;
  padding: 12px 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .flex-basis {
    flex-basis: 100%;
  }
  .about-text {
    margin: 16px 0;
  }
  .col-1-3 {
    margin: 20px 0;
  }

  /* header */
  .logo {
    position: relative;
    z-index: 100;
  }
  .nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(1, 26, 41, 0.9);
    text-align: center;
    padding-top: 130px;
  }
  .nav-menu__item {
    line-height: 3;
    margin-left: 0;
  }
  .hamburger {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 100;
  }
  #toggle:checked ~ .nav-menu {
    display: block;
  }
  .more {
    display: none;
  }
  .sub-menu-box {
    display: block;
    padding-top: 0;
  }
  .sub-menu {
    background: none;
    padding: 0;
  }
  .sub-menu a {
    color: #ffffff;
  }
}
