/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */
/* General */
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.padding {
  padding: 80px 0;
}
.heading {
  font-size: 36px;
  text-transform: uppercase;
  color: #131b24;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Header */
.header {
  background: #131b24;
  padding: 16px 0;
}
.logo {
  width: 130px;
}
.nav-menu__item {
  margin-left: 30px;
}
.nav-menu__item a {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Hero Section */
.hero {
  background: linear-gradient(#18222c, #4c9e7e);
  padding: 140px 0;
}
.hero-heading {
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
.hero-para {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 20px;
}

/* Portfolio */
.portfolio-container {
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio__item {
  flex-basis: 30%;
  margin: 1.5%;
  background: #ba4c63;
  text-align: center;
  font-size: 0;
  padding: 40px 0;
}
.portfolio__item2 {
  background: #49a4b6;
}
.portfolio__item3 {
  background: #130e0e;
}
.portfolio__item4 {
  background: #2f83c1;
}
.portfolio__item5 {
  background: #0f37b5;
}
.portfolio__item6 {
  background: #ccb2a3;
}
.portfolio__item img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

/* About */
.about {
  background: linear-gradient(#18222c, #4c9e7e);
}
.about-wrapper {
  max-width: 768px;
  margin: 0 auto;
}
.about .heading {
  color: #fff;
}
.about-text {
  color: #fff;
  width: 50%;
  padding: 0 30px;
}

/* Contact */
.contact-wrapper {
  max-width: 768px;
}
.form-control {
  display: block;
  width: 100%;
  border: 0;
  box-shadow: none;
  outline: 0;
  border-bottom: 1px solid #777777;
  padding: 16px 0;
  font-size: 20px;
  margin-bottom: 8px;
}
textarea {
  resize: none;
}
.btn {
  padding: 16px 40px;
  background: #326d5e;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 30px;
}

/* Map */
.map {
  background: #bdc7d2;
}

/* Table */
.table {
  width: 100%;
}
thead tr {
  background: #1d2639;
  text-align: left;
  color: rgb(8, 82, 131);
}
tbody tr {
  background: #323c50;
}
tbody tr:nth-child(even) {
  background: #2a3246;
}
th,
td {
  padding: 12px 16px;
}
td:first-child {
  color: rgb(241, 24, 60);
}

/* Footer */
.footer {
  background: #2c3e50;
}
.footer .flex {
  align-items: flex-start;
}
.footer__item {
  flex-basis: 30%;
  margin: 0 1.5%;
  color: #fff;
}
.footer__heading {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
.last {
  color: #4c9e7e;
}
.social {
  display: flex;
  justify-content: center;
}
.social li {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}
.copy {
  background: #18232d;
  padding: 16px 0;
  color: #fff;
}

@media all and (max-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
  /* header */
  .nav-menu {
    display: none;
  }
  .hero-heading {
    font-size: 24px;
  }
  .hero-para {
    font-size: 16px;
  }
  /* Portfolio */
  .base100 {
    flex-basis: 100%;
  }
  th,
  td {
    padding: 8px;
  }
}
